<nav-bar></nav-bar>

<div class='aboutWrapper'>
  <div class='about'>
  <div class='heroAboutPhoto'>
    <img src='./images/purely4.jpg'>
  </div>

  <div class='aboutSummary'>Purely By Chance farm is located on the west side of the Grand  Tetons  in Alta, Wyoming.  We focus on raising pasture fed broiler chickens, layer hens, turkeys and pigs, in addition to  fruits and vegetables.</div>
</div>
</div>

<div class='aboutWrapper'>
  <div class='about2'>

      <div class='aboutSummary2'>Purely By Chance farm is located on the west side of the Grand  Tetons  in Alta, Wyoming.  We focus on raising pasture fed broiler chickens, layer hens, turkeys and pigs, in addition to  fruits and vegetables.</div>

  <div class='heroAboutPhoto2'>
    <img src='./images/purely2.jpg'>
  </div>

</div>
</div>

<div class='aboutAbsoluteFooter'>
<footer></footer>
</div>
