<nav-bar></nav-bar>

<div class='emailWrapperFlex'>
<div class='emailWrapper'>

<form class='contactInputs' action="https://formspree.io/jdagos3@gmail.com"
        method="POST">
      <div class='inputTitles'>NAME:</div>
      <input class='regInput' type="text" name="name"><br>

      <div class='inputTitles'>EMAIL:</div>
      <input class='regInput' type="email" name="_replyto"><br>

      <div class='inputTitles'>MESSAGE:</div>
      <textarea class='messageInput' type="text" name="message"></textarea><br>
      <input class='submitInput' type="submit" value="Send">
</form>

<!-- <form action="MAILTO:yohannisberg@yahoo.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br>
E-mail:<br>
<input type="text" name="mail"><br>
Comment:<br>
<input type="text" name="comment"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form> -->

</div>
</div>

<div class='aboutAbsoluteFooter'>
<footer></footer>
</div>
