<nav-bar></nav-bar>

<home-carousel></home-carousel>

<div class='missionStatementWrapper'>
<div class='missionStatement'>

<div class='missionStatementText'>Purely By Chance Farm is located on the west side of the Grand  Tetons  in Alta, Wyoming.  We focus on raising pasture fed broiler chickens, layer hens, turkeys and pigs, in addition to fruits and vegetables.</div>

<div class='mainBorder'></div>

<div class='watchUs'>Watch us on Foodterra's web series "Just Picked"</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/lBcL9kRno8k" frameborder="0" allowfullscreen></iframe>

<div id="instafeed"></div>

</div>

<!-- <div class='main3ImagesWrapper'>
<div class='main3Images'>
<img class='main3oneImage' src='./images/purely2.jpg'>
</div>
<div class='main3Images'>
<img class='main3oneImage' src='./images/purely3.jpg'>
</div>
<div class='main3Images'>
<img class='main3oneImage' src='./images/purely5.jpg'>
</div>
</div> -->

<footer></footer>

</div>
