<nav-bar></nav-bar>

<home-carousel></home-carousel>

<div class='missionStatementWrapper'>
<div class='missionStatement'>

<div class='missionStatementText'>Purely By Chance Farm is located on the west side of the Grand  Tetons  in Alta, Wyoming.  We focus on raising pasture fed broiler chickens, layer hens, turkeys and pigs- in addition to fruits and vegetables.</div>

<div class='mainBorder'></div>

<div class='watchUsTitle'>Watch us on Foodterra's web series "Just Picked"</div>



<div class='youtubeVideoWrapper'>
<iframe width="560" height="315" src="https://www.youtube.com/embed/lBcL9kRno8k" frameborder="0" allowfullscreen></iframe>
</div>

<div class='watchUs'>
<div class='foodterraLogosFlex'>
<img src='./images/foodterralogo.png' class='foodterra'>
<img src='./images/just-picked.png' class='justPicked'>
</div>
</div>

<div class='mainBorder'></div>

<!-- <div class='instaWrapper'> -->
<!-- LightWidget WIDGET -->

<!-- style="width: 100%; border: 0; overflow: hidden; height: 100%" -->

<!-- <script src="//lightwidget.com/widgets/lightwidget.js"></script>
<iframe class='instaFeed' src="//lightwidget.com/widgets/1d715f4fd28857948a88f3b28140871b.html" scrolling="no" allowtransparency="true" class="lightwidget-widget"></iframe> -->

<!-- </div> -->
</div>

<!-- https://lightwidget.com/?username=wastingmoney1 -->
<div class='instaFeed'>
<div class='instaTitleBackground'>
<a href='https://www.instagram.com/purelybychance/' target='_blank'><div class='instaTitle'>Follow us on Instagram</div></a>
</div>
<iframe src="//lightwidget.com/widgets/e77c35c2f14f5a398cd8cd4baba2b433.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
</div>

<footer></footer>

</div>
