<div class='navBarWrapper'>
<!-- <img class='navLogo' src='./images/purelyByChanceLogo.png'> -->

<div class='navBarContentsWrapper'>
<div class='navTitleWrapper'>
<div class='navLinks'><a class='colorInit' ui-sref='home'>Purely By Chance Farm</a></div>
</div>

<div class='navMenu'>
<div class='navLinks'><a class='colorInit' ng-class='{color1: hover1}' ng-mouseover='hover1=true' ng-mouseleave='hover1=false' ui-sref='about'>ABOUT</a></div>
<div class='navLinks'><a class='colorInit' ng-class='{color2: hover2}' ng-mouseover='hover2=true' ng-mouseleave='hover2=false' ui-sref='schedule'>SCHEDULE</a></div>
<div class='navLinks'><a class='colorInit' ng-class='{color3: hover3}' ng-mouseover='hover3=true' ng-mouseleave='hover3=false' ui-sref='contact'>CONTACT</a></div>
<div class='navLinks'><a class='colorInit' ng-class='{color4: hover4}' ng-mouseover='hover4=true' ng-mouseleave='hover4=false' href='https://pbchance.com/' target='_blank'>BLOG</a></div>
</div>
</div>

</div>
