@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i,700,700i,900,900i');


.aboutWrapper{
  // height: 400px;
  display: flex;
  justify-content: center;
}

.about{
  // position: absolute;
  // top:56px;
  margin-top:56px;
  width: 85%;
  // height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about2{
  // position: absolute;
  // top:56px;
  width: 85%;
  // height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.heroAboutPhoto{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.heroAboutPhoto2{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.heroAboutPhoto img{
  width:100%;
}

.heroAboutPhoto2 img{
  width:100%;
}

.aboutAbsoluteFooter{
  position: absolute;
}

.aboutSummary{
  width:50%;
  float: right;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 23px;
  text-align: center;
  margin-left:14px;
}

.aboutSummary2{
  width:50%;
  float: left;
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 23px;
  text-align: center;
  margin-right:14px;
}
