@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

@media only screen and (max-device-width: 414px){

  .about{
    // position: absolute;
    // top:56px;
    margin-top:126px;
    // width: 85%;
    width:1180px;
    // height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutSummary2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 42px;
    // text-align: justify;
    color:#666;
    letter-spacing: .3px;
    background: rgb(243, 242, 235);
    padding: 90px;
    display: flex;
    align-items: center;
    line-height: 51px;
    border: 1px #666 solid;
  }

  .about2{
    width: 1180px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction:column;
  }

  .aboutPicWrapperFlex{
    margin: auto 0px 20px 0px;
  }

  .aboutPicWrapper{
    height: 580px;
  }

  .aboutRightPicsWrapper{
    display: flex;
    flex-direction: row;
  }

  .rightImage1{
    background-image: url("../images/purely2.jpg");
    background-position: center;
    background-size: 480px;
    margin-bottom:15.5px;
    border: 1px #666 solid;
    width:50%;
    height:305px;
    margin:2%;
  }

  .rightImage2{
    background-image: url("../images/purely3.jpg");
    background-position: center;
    background-size: 480px;
    border: 1px #666 solid;
    width:50%;
    height:305px;
    margin:2%;
  }
}

@media only screen and (min-device-width: 415px){

  .about{
    // position: absolute;
    // top:56px;
    margin-top:76px;
    // width: 85%;
    width:1180px;
    // height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutSummary2{
    width:50%;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    // text-align: justify;
    color:#666;
    letter-spacing: .3px;
    background: rgb(243, 242, 235);
    padding: 90px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    line-height: 30px;
    border: 1px #666 solid;
  }

  .about2{
    width: 1180px;
    height: 480px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }

  .aboutPicWrapperFlex{
    display: flex;
    justify-content: center;
    margin: auto 0px 20px 0px;
  }

  .aboutPicWrapper{
    width:1180px;
    height: 580px;
  }

  .aboutRightPicsWrapper{
    height: 480px;
    width: 390px;
  }

  .rightImage1{
    background-image: url("../images/purely2.jpg");
    background-position: center;
    background-size: 480px;
    height:230px;
    margin-bottom:15.5px;
    border: 1px #666 solid;
  }

  .rightImage2{
    background-image: url("../images/purely3.jpg");
    background-position: center;
    background-size: 480px;
    height:230px;
    border: 1px #666 solid;
  }
}


.aboutWrapper{
  // height: 400px;
  display: flex;
  justify-content: center;
}

.heroAboutPhoto{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.heroAboutPhoto2{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

.heroAboutPhoto img{
  width:100%;
}

.heroAboutPhoto2 img{
  width:100%;
}

.aboutAbsoluteFooter{
  position: absolute;
}

.aboutSummary{
  width:62%;
  font-family: 'Playfair Display', sans-serif;
  font-size: 23px;
  text-align: center;
  margin-left:14px;
  margin: 30px;
}

.aboutSummary div{
  padding:30px;
  font-size: 21px;
  color:#666;
}

.aboutSummary .aboutTitle{
  font-size:30px;
  text-decoration: underline;
  padding:50px 20px 0px 20px;
  color: black;
}

.aboutPic{
  background-image: url("../images/purely4.jpg");
  background-position: center;
  background-size: 1180px;
  height:100%;
  border: 1px #666 solid;
}
