.mapWrapper{
  float:left;
  width: 42.5%;
}

.mapLeftAddress{
  margin-top:118px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 22px;
  line-height: 25px;
}

.mapLeftEmailPhone{
  margin-top:32px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 15px;
  line-height: 20px;
  margin-bottom:50px;
}

.emailWrapperFlex{
  display: flex;
  justify-content: center;
}

.emailWrapper{
  margin-top:56px;
  width: 42.5%;
  float:right;
}

.contactInputs{
  display: flex;
  flex-direction: column;
  padding: 8%;
  // height: 100%;
  justify-content: center;

//   -webkit-appearance: textarea;
// background-color: white;
// -webkit-rtl-ordering: logical;
// user-select: text;
// flex-direction: column;
// resize: auto;
// cursor: auto;
// white-space: pre-wrap;
// word-wrap: break-word;
// border-width: 1px;
// border-style: solid;
// border-color: initial;
// border-image: initial;
// padding: 2px;
}

.contactInputs input{
  padding:5px;
  font-family: 'Playfair Display', sans-serif;
  font-size:13px;
}

.contactInputs textarea{
  padding:5px;
  font-family: 'Playfair Display', sans-serif;
  font-size:13px;
}

.regInput{
  width: 100%;

  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
}

.messageInput{
  width: 100%;
  height:140px;
  border-color:black;
}

.inputTitles{
  font-family: 'Playfair Display SC', sans-serif;
  margin-bottom:1px;
}


.submitInput{
background-color: #c4c4c4;
color: #444;
border: 0;
padding: 5px 10px;
width:50px;
cursor: pointer;
}

#map{
  height:330px;
  width:100%;
  margin-top:20px;
}

.mapLink{
  cursor: pointer;
  text-decoration: none;
  color: red;
  font-family: 'Playfair Display', sans-serif;
}

.contactInstruct{
  background: rgb(243, 242, 235);
  margin:8% 8% 0% 8%;
  border:1px #666 solid;
}

.contactTopWrapper{
  padding:8% 8% 0% 8%;
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: .3px;
  color: #666;
  line-height: 23px;
}

.contactInstructTitle{
  font-size:17px;
}

.contactTopWrapper li a{
  text-decoration: none;
  color: red;
}
