@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

// body{
//   font-family: 'Playfair Display SC', sans-serif;
// }

@media only screen and (max-device-width: 414px){
    .navMenu{
      display: none;
    }

      .navTitleWrapper{
        font-size: 45px;
      }

      .navBarContentsWrapper{
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width:90%;
      }

      .navBarWrapper{
        width: 100%;
        position: fixed;
        top: 0;
        height:105px;
        background: rgb(243, 242, 235);
        z-index:10;
        color: #666;
        display: flex;
        justify-content: center;
        font-family: 'Playfair Display SC', sans-serif;
        border-bottom: 1px gray solid;
      }

      .menuThreeLines{
        position: fixed;
        left: 45px;
      }

      .mobileMenuWrapper{
        height: 565px;
        width: 40%;
        position: fixed;
        background: rgba(243, 242, 235, .9);
        top:105px;
        left:0px;
        border:1px #666 solid;
        display: flex;
        flex-direction: column;
      }

      .mobileMenuWrapper .navLinks{
        margin-top:48px;
        font-size: 63px;
        margin-left:20px;
      }

      .mobileMenuWrapper .navLinksAbout{
        margin-top:108px;
        font-size: 63px;
        margin-left:20px;
      }

      .borderMobile{
        border-bottom:2px #666 solid;
      }
}

@media only screen and (min-device-width: 415px){

.navMenu{
  display: flex;
  width:75%;
  justify-content: space-around;
}

.navTitleWrapper{
  font-size: 18px;
  width: 33%;
}

.navBarContentsWrapper{
  display:flex;
  align-items: center;
  height: 100%;
  width:85%;
  }

  .navBarWrapper{
    width: 100%;
    position: fixed;
    top: 0;
    height:56px;
    background: rgb(243, 242, 235);
    z-index:10;
    color: #666;
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display SC', sans-serif;
    border-bottom: 1px gray solid;
  }

  .menuThreeLines{
    display:none;
  }
}

@media (min-width: 1220px) {
  .navTitleWrapper{
    font-size: 26px;
    width: 33%;
  }
}

// @media only screen
//   and (min-device-width: 414px)
//   and (max-device-width: 736px)
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: portrait) {
//
// }

.navLinks a{
  cursor:pointer;
  text-decoration: none;
}

.navLinksAbout a{
  cursor:pointer;
  text-decoration: none;
}

.colorInit{
  color: #666;
}

.color1{
  text-shadow: #666 0px 0px 0.25px;
}

.color2{
  text-shadow: #666 0px 0px 0.25px;
}

.color3{
  text-shadow: #666 0px 0px 0.25px;
}

.color4{
  text-shadow: #666 0px 0px 0.25px;
}

.mobileX{
  position: fixed;
  left: 111px;
  top:592px;
  padding:7px;
  border: 1px #666 solid;
}
