@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i,700,700i,900,900i');

.iframeCalendarWrapper{
  // position: absolute;
  margin-top:36px;
  width:100%;
  height: auto;

}

.iframeCalendar{
  display: flex;
  justify-content: center;
}


.view-container-border {
  background-color: red;
}

.scheduleTitle{
  font-family: 'Playfair Display SC', sans-serif;
  font-size: 72px;
  margin-top: 70px;
  text-align: center;
}
